 <br/>
 Upcoming events:
 <% @upcoming_events.each do |event| %>
 <li><%= link_to event.title, event %></li>
 <% end %>
<br/>
 Past events:
 <% @past_events.each do |event| %>
 <li><%= link_to event.title, event %></li>
 <% end %>