<h1>Upcoming Events</h1>
<% @upcoming_events.each do |event| %>
  <li><%= link_to event.title, event %></li>
<% end %>
<br/>
<h1>Past Events</h1>
<% @past_events.each do |event| %>
  <li><%= link_to event.title, event %></li>
<% end %>